
.register {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.formulary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    color: var(--contrast-color);
    background: linear-gradient(to top, #0074A9, #6D1B7B);
}

.formulary-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(128, 128, 128, 0.75);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: var(--contrast-color);
    gap: 12px;

}

.division-white {
    width: 100%;
    background-color: var(--contrast-color);
    height: 2px;
}

.start-session {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 20px;
}

.user {
    color: var(--contrast-color);
}


.inputs {
    display: flex;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
}

.basic-info,
.address,
.preferences {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
