*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-style: oblique;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: blue;
	text-decoration: none;
}

/* Reseteo básico */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {
	--container-width: 90%;
	--primary-color: rgb(238, 139, 8);
	--secundary-color: rgb(109, 109, 247) ;
	--contrast-color: white;
}

.show-on-mobile {
	display: flex;
}

.show-on-tablet {
	display: none;
}

.show-on-desktop {
	display: none;
}

nav {
	background: linear-gradient(to right, #0074A9, #6D1B7B);
	color: var(--contrast-color);
}

.nav-container {
	display: flex;
	flex-direction: column;
}

.mobile-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;

}

.logo-container {
	padding-top: 12px;
	display: flex;
	justify-content: space-around;
	gap: 12px;
}

.logos {
	width: 40px;
	border-radius: 8px;
}

.icon {
	width: 40px;
	border-radius: 12px;
}

.search-container {
	display: flex;
	width: 50%;
	justify-content: center;
}

.searcher {
	padding: 10px 20px;
	display: flex;
	width: 80%;
	border-radius: 20px;
}

.button-container {
	display: flex;
	justify-content: space-between;
}

.button-ini {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	padding: 10px 20px;
	border-radius: 8px;
	min-height: 60px ;
}

.warning {
	display: flex;
	background-color: var(--contrast-color);
	color: black;
	align-items: center;
	justify-content: center;

}
.warning img {
	width: 18px;
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-img {
	display: flex;
	width: 100%;
}

.header-img img {
	width: 100%;
}

.header-tittle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 40px 20px;
	gap: 16px;
}

.app-store {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 20px;
	gap: 12px;
}

.app-store img {
	width: 40%;
	border: solid 2px black;
	border-radius: 8px;
}

.divisor-blue {
	background-color: #0372A8 ;
	width: 100%;
	height: 2px;
}

.divisor-purple {
	background-color: #6A1E7D;
	width: 100%;
	height: 2px;
}

.news-tittle {
	text-align: center;
	padding: 0 30px;
}

.categories {
	background: linear-gradient(to top, #0074A9, #6D1B7B);
	min-height: 200px;
	color: var(--contrast-color);
	padding: 40px 20px;
	width: 100%;
	padding: 20px;
}

.categories-container,
.news-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
	gap: 20px;
}

.category-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.card-category {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	gap: 12px;
	background-color: var(--secundary-color);
	padding: 20px;
	border-radius: 12px;
	max-width: 300px;
}

.card-category img{
	display: flex;
	min-height: 220px;
	justify-content: flex-start;
}

.news {
	background: linear-gradient(to bottom, #0074A9, #6D1B7B);
	min-height: 200px ;
	color: var(--contrast-color);
	display: flex;
	flex-direction: column;
	padding: 40px 20px;
	gap: 20px;
}

.cards-container {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 100%;
	gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 20px;
	min-width: 200px;
	background-color: rgba(142, 142, 142, 0.513);
	padding: 20px;
	border-radius: 8px;
}

.card-text {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.card-image {
	display: flex;
	width: 100%;
}

.card-image img {
	width: 100%;
	border: solid 2px black;
	border-radius: 8px;
}

.view-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.button-view {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 10px;
}


.forum {
	background-color: #6D1B7B;
	padding: 40px 20px;
}

.forum-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	border-radius: 40px;
	background-color: var(--contrast-color);
	padding: 40px 20px;
	gap: 40px;
	text-align: center;
}

.forum-tittle {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	color: var(--contrast-color);
}

.feature {
	background-color:rgba(255, 153, 0, 0.5);
	border: solid 2px black;
	border-radius: 10px;
	padding: 0 12px;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 220px;
	text-align: center;
}

.feature a:hover {
	cursor: pointer;
}

.near-you {
	background: linear-gradient(to top, #0074A9, #6D1B7B);
	padding: 40px 20px;
	color: var(--contrast-color);
}

.promo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #0074A9, #6D1B7B);
	padding: 40px;
	gap: 20px;
}

.promo p {
	text-align: center;
	font-size: 1.4rem;
	color: var(--contrast-color);
}

.logo-promo-container {
	padding-top: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
	width: 100%;
}





