*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-style: oblique;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: blue;
	text-decoration: none;
}

/* Reseteo básico */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {
	--container-width: 90%;
	--primary-color: rgb(238, 139, 8);
	--secundary-color: rgb(109, 109, 247) ;
	--contrast-color: white;
}

.show-on-mobile {
	display: flex;
}

.show-on-tablet {
	display: none;
}

nav {
	background: linear-gradient(to bottom, #0074A9, #6D1B7B);
	color: var(--contrast-color);
}

.nav-container {
	display: flex;
	flex-direction: column;
}

.mobile-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}


label {
	cursor: pointer;
}

.menu-hamburguesa {
	display: flex;
}

.mobile-menu {
	display: none;
	flex-direction: column;
	background: linear-gradient(to bottom, #0074A9, #6D1B7B);
	padding: 15px 12px;
	min-width: 120px;
	border-radius: 8px;
}

.mobile-menu ul {
	list-style: none;
}

.mobile-menu ul li {
	padding: 10px 0;
}

.mobile-menu ul li a {
	color: #fff;
	text-decoration: none;
}

#menu-toggle:checked + label + .mobile-menu {
	display: flex;
    position: absolute;
    left: 0;
    top: 50px;
	border: solid 2px #6D1B7B;
}


.logo-container {
	display: flex;
	justify-content: space-around;
	gap: 12px;
}

.logos {
	width: 40px;
	border-radius: 18px;
}

.icon {
	width: 40px;
	border-radius: 12px;
}

.search-container {
	display: flex;
	width: 50%;
	justify-content: center;
}

.searcher {
	padding: 10px 20px;
	display: flex;
	width: 80%;
	border-radius: 20px;
}

.button-container {
	display: flex;
	justify-content: space-between;
}


.button-ini {
    display: flex;
	flex-direction: row;
    justify-content: center;
	align-items: center;
	width: 100%;
    padding: 10px 20px;
	gap: 12px;
    background-color: #00c48c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}


.show-on-desktop {
	display: none;
}

.button-ini:hover {
    background-color: #008f68;
}

.button-ini img {
	border-radius: 20px;
}


.warning {
	display: flex;
	background-color: var(--contrast-color);
	color: black;
	align-items: center;
	justify-content: center;
	padding: 4px;

}
.warning img {
	width: 18px;
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-img {
	display: flex;
	width: 100%;
}

.header-img img {
	width: 100%;
}

.header-tittle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 40px 20px;
	gap: 16px;
}

.app-store {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 20px;
	gap: 12px;
}

.app-store img {
	width: 40%;
	border: solid 2px black;
	border-radius: 8px;
}

.divisor-blue {
	background-color: #0372A8 ;
	width: 100%;
	height: 2px;
}

.divisor-purple {
	background-color: #6A1E7D;
	width: 100%;
	height: 2px;
}

.news-tittle {
	text-align: center;
	padding: 0 30px;
}

.categories {
	background: linear-gradient(to top, #0074A9, #6D1B7B);
	min-height: 200px;
	color: var(--contrast-color);
	padding: 40px 20px;
	width: 100%;
	padding: 20px;
}

.categories-container,
.news-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
	gap: 20px;
}

.category-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.card-category {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	gap: 12px;
	background-color: var(--secundary-color);
	padding: 20px;
	border-radius: 12px;
	max-width: 300px;
}

.card-category img{
	display: flex;
	min-height: 220px;
	justify-content: flex-start;
}

.news {
	background: linear-gradient(to bottom, #0074A9, #6D1B7B);
	min-height: 200px ;
	color: var(--contrast-color);
	display: flex;
	flex-direction: column;
	padding: 40px 20px;
	gap: 20px;
}

.cards-container {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 100%;
	gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 20px;
	min-width: 200px;
	background-color: rgba(142, 142, 142, 0.75);
	padding: 20px;
	border-radius: 8px;
}

.card-text {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.card-image {
	display: flex;
	width: 100%;
}

.card-image img {
	width: 100%;
	border: solid 2px black;
	border-radius: 8px;
}

.view-button {
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 14px;
    border: none;
    border-radius: 20px; 
	width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.2s;
}

.view-button:hover {
    background-color: #00b3a8; 
    transform: scale(1.05); 
}

.view-button a {
    text-decoration: none;
    color: inherit;
}

.button-view {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;
	border-radius: 10px;
	background-color: var(--contrast-color); 
	color: #6D1B7B;
}


.forum {
	background: linear-gradient(to bottom, #0074A9, #6D1B7B, #0074A9);
	width: 100%;
}

.forum-contain {
	padding: 20px;
}

.forum-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	border-radius: 40px;
	background-color: rgb(128, 128, 128, 0.75);
	padding: 40px 20px;
	gap: 40px;
	text-align: center;
}

.forum-tittle,
.forum-container {
	padding: 40px 20px;
}

.forum-tittle {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	color: var(--contrast-color);
}

.feature {
	background-color: var(--contrast-color);
	border: solid 2px black;
	border-radius: 10px;
	padding: 12px 12px;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: center;
	max-width: 200px;
}

.feature a:hover {
	cursor: pointer;
}

.near-you {
	background: linear-gradient(to top, #0074A9, #6D1B7B);
	padding: 40px 20px;
	color: var(--contrast-color);
}

.promo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #0074A9, #6D1B7B);
	padding: 40px;
	gap: 20px;
}

.promo p {
	text-align: center;
	font-size: 1.4rem;
	color: var(--contrast-color);
}

.logo-promo-container {
	padding-top: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
	width: 100%;
}

/* Estilo para el botón fijo en el margen derecho abajo */
.back-to-top {
	position: fixed;
	bottom: 40px;
	right: 0px; 
	z-index: 1000;
}

.back-to-top img {
	width: 20px;
}

.back-to-top button {
	cursor: pointer;
	padding: 8px;
	border-radius: 20px;
}

.back-to-top button:hover {
	background-color: #0056b3;
}

.mobile-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0056b3;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.footer-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    text-align: center;
    flex: 1;
}

.footer-item a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
	gap: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-item img {
    width: 24px;
    height: 24px;
}

.footer-item p {
    margin: 0;
    font-size: 12px;
}